/*****************************************************************
1. INITIAL SETTINGS
*****************************************************************/

/* Limited Reset
----------------------------------------------------------------*/

.pun table, .pun div, .pun form, .pun p, .pun h1, .pun h2, .pun h3,
.pun h4, .pun h5, .pun pre, .pun blockquote, .pun ul, .pun ol, .pun li, .pun dl,
.pun dt, .pun dd, .pun th, .pun td, .pun fieldset, .pun img, .pun abbr, .pun cite {
	margin: 0;
	padding: 0;
	border: 0;
	}

.pun ul, .pun ol {
	list-style: none
	}


/* Structural Settings
----------------------------------------------------------------*/

.pun .clearer, .pun .nosize {
	height: 0;
	width: 0;
	line-height: 0;
	font-size: 0;
	overflow: hidden
	}

.pun .clearer, .pun .clearb {
	clear: both
	}

.pun .nosize {
	position: absolute;
	left: -9999em;
	text-indent: -9999em;
	width: 0;
	}

* html .inbox, * html .inform, * html .pun, * html .tclcon, * html .codebox {
	height: 1px
	}

.pun, .pun .inbox, .pun .inform, .pun .tclcon, .pun .codebox {
	min-height: 1px
	}


/* Hidden Elements
----------------------------------------------------------------*/

#brdfooter h2,/* #brdstats h2,*/ #brdstats .conl dt, #brdstats .conr dt,
#modcontrols dt, #searchlinks dt, div.postright h3, span.closedtext/*,
.pun .required strong span*/ {
	position: absolute;
	display: block;
	overflow: hidden;
	width: 0;
	left: -9999em;
	text-indent: -9999em;
	}

/*****************************************************************
2. TEXT & CONTENT
*****************************************************************/

/* Text Defaults
----------------------------------------------------------------*/

.pun {
	font: 11px Verdana, Helvetica, Arial, sans-serif;
	}

.pun table, .pun td, .pun th, .pun input, .pun select, .pun optgroup, .pun textarea, .pun small {
	font-size: 1em;
	font-family: verdana, helvetica, arial, sans-serif;
	}

.pun pre, .pun code {
	font-size: 1em;
	font-family: monospace, consolas, monaco, "bitstream vera sans mono", "courier new", courier, monospace
	}

.pun pre code {
	font-size: 1em;
	}

.pun strong {
	font-weight: bold;
	}

.pun em {
	font-style: italic;
	}


/* Content Defaults
----------------------------------------------------------------*/

.pun p, .pun ul, .pun ol, .pun dl {
	font-size: 1em;
	padding: 3px 0;
	}

.pun h2 {
	font-size: 1em;
	font-weight: normal;
	padding: 2px 7px;
	}

.pun h3 {
	font-size: 1.091em;
	padding: 3px 0;
	}

.pun table p, .pun table h3 {
	padding: 0;
	}

.pun span.warntext, .pun p.warntext {
	font-weight: bold
	}


/* User Content (Announcements, Rules, Posts)
----------------------------------------------------------------*/

.pun .usercontent p, .pun .postmsg p {
	padding: 0.75em 0;
	}

.pun .postmsg p {
	font-family: "Lucida Grande", "Trebuchet MS", "Verdana", "Helvetica", "Arial", sans-serif;
	font-size: 13px;
}

.pun .postsignature p, .pun .postbody .postedit {
	font-family: "Verdana", "Helvetica", "Arial", sans-serif;
	font-size: 10px;
}

.pun .usercontent ul, .pun .postmsg ul {
	padding: 0.75em 1em 0.75em 2.5em;
	list-style: disc
	}

.pun .usercontent ol, .pun .postmsg ol {
	padding: 0.75em 1em 0.75em 2.5em;
	list-style: decimal
	}

.pun .usercontent ol.alpha, .pun .postmsg ol.alpha {
	list-style: lower-alpha
	}

.pun .usercontent li ol, .pun .usercontent li ul, .pun .postmsg li ol, .pun .postmsg li ul {
	padding: 0.25em 1em 0.75em 2.5em
	}

.pun .usercontent li p, .pun .postmsg li p {
	padding: 0
	}

.pun .usercontent h1 {
	font-size: 1.4em;
	font-weight: bold;
	padding: 0.75em 0 0 0
	}

.pun .usercontent h2 {
	font-size: 1.2em;
	font-weight: bold;
	padding: 0.75em 0 0 0
	}

.pun .usercontent h3 {
	font-size: 1.1em;
	font-weight: bold;
	padding: 0.75em 0 0 0
	}

.pun .usercontent h4, .pun .usercontent h5, .pun .usercontent h6 {
	font-size: 1em;
	font-weight: bold;
	padding: 0.75em 0 0 0
	}

.pun .quotebox cite {
	font-weight: bold;
	font-style: normal;
	padding: 0.75em 0.75em 0 0.75em
	}

.pun span.bbu {
	text-decoration: underline
	}

.pun div.postmsg h5, #helpfile h5 {
	font-size: 1.1em;
	font-weight: bold;
	padding: 0.75em 0 0 0;
	}


/*****************************************************************
3. COMMON STYLES
*****************************************************************/

/* Page Layout
----------------------------------------------------------------*/

html {
	height: 100%;
	margin-bottom: 1px;
}

.pun .punwrap {
/*	width: 70%;*/
	margin: auto;
	min-width: 700px;
	padding: 10px;
	}

#punredirect .block, #punmaint .block {
	margin: 50px 20% 12px 20%
	}


/* Vertical Element Spacing
----------------------------------------------------------------*/

#brdheader {
	margin: 0 0 12px 0;
	}

#announce, #brdstats {
	margin: 12px 0 12px 0;
	}

.pun .blocktable, .pun .block, .pun .blockform, .pun .block2col, #postreview {
	margin-bottom: 12px
	}

.pun .block, .pun .blockform, .pun .block2col, #postreview {
	margin-bottom: 1.5em;
}

/*#punindex .blocktable, */.pun .blockpost {
	margin-bottom: 6px
	}
/*
#postreview .blockpost {
	margin-bottom: -1px;
	}
*/
.pun .block2col .blockform, .pun .block2col .block {
	margin-bottom: 0px
	}

/*.pun .linkst, .pun .linksb {
	margin-top: -12px
	}*/

.pun .postlinksb {
/*	margin-top: -6px*/
	}


/* External Borders
----------------------------------------------------------------*/
/*
.pun .box {
	border-style: solid;
	border-width: 1px;
	}

#brdheader .box {
	border-top-width: 4px;
	}
*/
/* Default Internal Spacing
----------------------------------------------------------------*/

.pun .block .inbox, .pun .blockmenu .inbox {
	padding: 5px 10px
	}

/*****************************************************************
4. COMMON BOARD ELEMENTS
*****************************************************************/

/* Board Header
----------------------------------------------------------------*/

#brdtitle h1 {
	font-size: 1.454em;
	font-weight: bold;
	line-height: 1em;
	padding: 3px 0 0 0;
	}

#brddesc {
	padding: 3px 0;
	}

#brddesc * {
	padding-top: 0;
	padding-bottom: 0;
	}

#brdmenu li {
	display: inline;
	margin-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	}

#brdmenu a:link, #brdmenu a:visited {
	text-decoration: none
	}

#brdmenu a:hover, #brdmenu a:active {
	text-decoration: underline
	}

#brdwelcome .conl {
	float: left;
	}

#brdwelcome .conr {
	float: right;
	text-align: right;
	}

#brdwelcome ul li {
	display: inline;
}
/* Breadcrumbs and Post Links
----------------------------------------------------------------*/

.pun .linkst {
	padding: 0px 6px 3px 6px
	}

.pun .linksb, .pun .postlinksb {
	padding: 3px 6px 0px 6px
	}

.pun .crumbs {
	clear: both;
	width: 100%;
	overflow: hidden;
	}

.pun .crumbs li {
	display: inline;
	white-space: nowrap;
	font-weight: bold;
	}

.pun .pagelink {
	float: left;
	white-space: nowrap;
	}

.pun .postlink {
	font-weight: bold;
	white-space: nowrap;
	}

.pun .postlink, .pun .modbuttons {
	float: right;
	text-align: right;
	}

.pun .modbuttons {
	padding: 1px 0;
	white-space: nowrap;
	}

.pun .modbuttons input {
	margin-left: 6px;
	}

.pun .postlink a:link, .pun .postlink a:visited {
	text-decoration: none
	}

.pun .postlink a:hover, .pun .postlink a:active {
	text-decoration: underline;
	}

.pun .subscribelink {
	text-align: right;
}



/* Board Footer
----------------------------------------------------------------*/

#brdfooter .conl {
	float: left;
	}

#brdfooter .conr {
	float: right;
	text-align: right;
	}

.pun #modcontrols {
/*	margin-bottom: 4px;*/
	text-align: center;
	width: 100%;
}

.pun #modcontrols dd {
	display: inline;
}

.pun #modcontrols dd:before {
	content: " • "
}



/* Board Stats
----------------------------------------------------------------*/

#brdstats .conl {
	float: left;
	}

#brdstats .conr {
	float: right;
	text-align: right;
	}

#onlinelist dd, #onlinelist dt {
	display: inline;
	}


/*****************************************************************
5. MAIN TABLES
*****************************************************************/

.pun table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	}

.pun .blocktable table {
	table-layout: fixed;
	}

.pun td, .pun th {
	padding: 4px 8px;
	line-height: 1.273em;
	text-align: left;
	font-weight: normal;
	}

.pun td {
	border-style: solid none none solid;
	border-width: 1px;
	}

.pun .tcl {
	border-left: 0;
	width: auto;
	}

.pun .tc2, .pun .tc3, .pun .tcmod {
	width: 10%;
	text-align: center;
	padding: 5px 0;
	}

.pun .tcr {
	width: 30%;
	}

.pun .tcl h3 {
	font-size: 1.091em;
	font-weight: bold;
	}

.pun .tcl h3 span.newtext {
	font-size: 0.917em;
	}

.pun .tcl span.newtext, .pun .tcl span.pagestext {
	white-space: nowrap;
	font-weight: normal;
	}

.pun td span.byuser {
	white-space: nowrap;
	}

.pun .tcl p {
	padding: 5px 0 0 0
	}

#punsearch #vf .tc2 {
	width: 18%;
	text-align: left;
	padding: 4px 6px;
	}

#users1 .tcr {
	width: 25%
	}

#users1 .tc2 {
	width: 25%;
	text-align: left;
	padding: 4px 6px;
	}

#debug .tcl {
	width: 10%
	}

#debug .tcr {
	width: 90%;
	white-space: normal
	}

#punindex .tcr .byuser {
	display: block
	}

.pun .blocktable .tclcon {
	padding: 0 9px 0 10px;
	overflow: hidden;
	height: 1%;
	min-height: 1px;
	position: relative;
	}

.pun .blocktable .tclcon div {
	width: 100%;
	overflow: hidden;
	}

.pun .icon {
/*	border-width: 7px;
	border-style: solid;*/
	height: 27px;
	width: 27px;
	overflow: hidden;
	float: left;
	}

.pun .icon div {
	position: absolute;
	left: -9999em;
	text-indent: -9999em;
	height: 0;
	}

.pun .iposted .ipost {
	position: absolute;
	left: 0;
	font-weight: bold;
	width: 8px;
	padding-left: 4px;
	text-align: center;
	top: 0;
	}

/*****************************************************************
6. MAIN FORMS
*****************************************************************/

.pun .blockform form, .pun .fakeform {
	PADDING: 20px 20px 15px 20px
	}

.pun .forminfo {
	margin-bottom: 12px;
	padding: 9px 10px;
	border-style: solid;
	border-width: 1px;
	}

.pun .forminfo h3 {
	font-weight: bold;
	}

.pun .inform {
	padding-bottom: 12px
	}

.pun fieldset {
/*	padding: 0px 12px 0px 12px;
	border-style: solid;
	border-width: 1px*/
	}

.pun legend {
	padding: 5px 6px
	}

.pun .infldset {
	padding: 9px 12px 12px 12px
	}

.pun label {
/*	display: block;*/
	padding: 3px 0
	}

.pun label.conl {
	float: left;
	overflow: visible;
	margin-right: 10px
	}

.pun select {
	padding-top: 1px;
	padding-bottom: 1px;
	}

.pun fieldset .rbox {
	}

.pun fieldset .rbox br {
/*	display: none;*/
	}

.pun fieldset .rbox label {
	padding: 3px 0 3px 25px;
	position: relative;
	vertical-align: middle;
	}

.pun fieldset .rbox input {
	margin: 0 9px 0 -25px;
	padding: 0;
	width: 16px;
	position: relative;
	vertical-align: middle;
	}

/*.pun .txtarea {
	width: 75%
	}*/

.pun .txtarea textarea, .pun input.longinput {
	width: 100%
	}

.pun .bblinks {
	padding-bottom: 10px;
	padding-left: 4px
	}

.pun .bblinks li {
	display: inline;
	padding-right: 20px
	}

.pun .blockform .buttons {
	padding-left: 12px;
	}

.pun .blockform .buttons input {
	margin-right: 8px;
	}

#posterror ul {
	list-style: square;
	padding: 3px 0 3px 24px;
	}

.pun .deletemsg {
	border-style: solid;
	border-width: 1px;
	padding: 6px 15px;
	}

.pun .multiselect {
	float: left;
	color: #357082;
	padding-bottom: 7px;
}

.pun .checklist {
	border-width: 1px;
	border-style: solid;
	max-height: 9em;
	width: 20em;
	overflow: auto;
	padding: 0.25em 0.5em;
	margin: 0.25em 16px 0 0.15em;
	background: #fff;
	border: 1px solid #B4BAC0;
}

.pun .checklist legend {
	padding: 0;
}

.pun .checklist legend span {
	width: auto;
	max-width: 25em;
}


.pun .checklist .checklist-item {
	position: relative;
}

.pun .checklist .checklist-item label {
	padding: 0 0 0 1.75em;
}

.pun .checklist .checklist-item .fld-input {
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
	margin: 0;
}

.pun .checklist .checklist-item input {
	margin: 0;
	height: 1.55em;
	width: 1.55em;
}

/*****************************************************************
7. PROFILES AND ADMIN
*****************************************************************/

.pun .block2col {
	padding-bottom: 1px
	}

.pun .block2col .blockform, .pun .block2col .block {
	margin-left: 17em
	}

.pun .blockmenu {
	float:left;
	width: 16em
	}

.pun .blockmenu li {
	padding: 3px 0;
	font-weight: bold;
	}

.pun .blockmenu a:link, .pun .blockmenu a:visited {
	text-decoration: none
	}

.pun .blockmenu a:hover, .pun .blockmenu a:active {
	text-decoration: underline
	}

#viewprofile dl {
	float: left;
	width: 100%;
	overflow: hidden
	}

#viewprofile dd {
	margin-left: 14em;
	padding: 3px;
	}

#viewprofile dt {
	float: left;
	width: 13em;
	margin: 3px 0;
	}

#profileavatar img {
	float: right;
	margin-left: 1em
	}

/*****************************************************************
8. MAIN POSTS
*****************************************************************/

.pun .blockpost h2 a:link, .pun .blockpost h2 a:visited {
	text-decoration: none;
	}

.pun .blockpost h2 a:hover, .pun .blockpost h2 a:active {
	text-decoration: underline;
	}

.pun .blockpost h2 .conr {
	float: right;
	text-align: right;
	}

#punsearch .blockpost h2 span {
	white-space: nowrap;
	}

.pun .blockpost .box {
/*	overflow: hidden;*/
	}

.pun .postleft, .pun .postfootleft {
	float:left;
	width: 18em;
	position: relative;
/*	overflow: hidden;*/
	}

.pun .postleft dl {
	padding: 0 8px;
	}

.pun .postleft .usercontacts, .pun .postleft .icon {
	margin-top: 6px
	}

.pun .postleft .postavatar, .pun .postleft .usertitle {
	margin-bottom: 12px;
	display: block;
	}

.pun .postleft .usertitle strong {
	font-weight: normal;
}

.pun .blockpost dt {
	font-size: 1.091em;
	font-weight: bold;
	}

.pun .blockpost dt a:link, .pun .blockpost dt a:visited {
	text-decoration: none;
	}

.pun .blockpost dt a:hover, .pun .blockpost dt a:active {
	text-decoration: underline;
	}

.pun .postright, .pun .postfootright {
	margin-left: 18em;
	}

#postpreview .postright {
	border-left: 0
	}

.pun .postright {
	padding: 0 10px;
	}

.pun .postfootright, .pun .multidelete {
	text-align: right
	}

.pun .postmsg {
	width:98%;
	overflow: hidden;
	padding-bottom: 6px;
	}

.pun .postfootright ul, .pun .postfootright div, .pun .postfootright p,
.pun .postfootleft p {
	padding: 6px 6px 6px 6px;
	}

.pun .postfootright li {
	display: inline;
	}

.pun .postfootright a:link, .pun .postfootright a:visited {
	text-decoration: none
	}

.pun .postfootright a:hover, .pun .postfootright a:active {
	text-decoration: underline
	}

.pun .codebox {
	border-style: solid;
	border-width: 1px;
	margin: 0.75em 1em;
	padding: 0;
	}

.pun .quotebox {
	border-style: solid;
	border-width: 1px;
	margin: 0.75em 1em;
	padding: 0 0.75em;
	}

.pun .quotebox cite {
	display: block;
	padding: 0.75em 0 0 0;
	}

.pun .quotebox blockquote {
	width: 100%;
	overflow: hidden
	}

.pun .codebox pre {
	overflow: auto;
	width: 100%;
	overflow-y:hidden
	}

* html .pun .codebox pre {
	padding-bottom: 10px;
	}

*+html .pun .codebox pre {
	padding-bottom: 10px
	}

.pun .codebox pre code {
	display: block;
	padding: 0.75em;
	}

.pun .codebox pre.vscroll {
	height: 32em;
	overflow: auto;
	overflow-y: auto
	}

.pun .postmsg img.postimg, .pun .postmsg a img.postimg {
	max-width: 100%;
	vertical-align: middle;
	}

.pun .postmsg img {
	vertical-align: bottom;
	}

.pun .postsignature hr {
	margin-left: 0px;
	width: 200px;
	text-align: left;
	height: 1px;
	border:none
	}

.pun .blockpost label {
	padding: 3px 6px;
	border-style: solid;
	border-width: 1px;
	vertical-align: middle;
	display: inline-block;
	}

.pun .blockpost label * {
	vertical-align: middle;
	margin: 0;
	padding: 0;
	}

/****************************************************************/
/* 9. HELP FILES AND MISC. */
/****************************************************************/

#helpfile h2 {
	margin-top: 12px
	}

#helpfile div.box {
	padding: 10px
	}

#debugtime {
	margin-top: -12px;
	text-align: center;
	}

/*****************************************************************
COLOUR SCHEME
*****************************************************************/

/* Background / Text
----------------------------------------------------------------*/

body {
	color: #536482;
	background: #fff;
	}

.pun {
	color: #536482
	}

.pun h2 {
	text-transform: uppercase;
	border-bottom: 1px solid #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #115098;
	}

.pun .blockform h2 {
	margin-top: 24px;
}

.pun .blocktable h2 {
	font-size: 10px;
}

.pun legend {
	font-weight: bold;
	font-size: 1em;
	}

.pun .blockmenu li.isactive a, #posterror li strong {
	color: #333
	}

.pun .usercontent * {
	background: transparent;
	}

#brdtitle {
	background: url(Prosilver/img/bg_header.gif) repeat-x;
	padding: 20px 10px;
}

#brdtitle span {
	color: #fff;
}

#brdwelcome, #brdfooter, #brdmenu, .blockmenu .box, .portal .box {
	background: #CADCEB;
}

#brdfooter, #brdtitle, .blockmenu .box, .portal .box {
	border-radius: 5px;
	-moz-border-radius: 5px;
}

#brdmenu {
	margin-top: 5px;
	padding-bottom: 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
}

#brdmenu ul {
/*	padding-top: 5px;
	padding-left: 10px;*/
}

#brdwelcome {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	padding-top: 0;
	margin-bottom: 1.5em;
}

/* Blue background (informations, forms) */
.blockform .box, #msg .box, #punredirect .box, #posterror .box, #puninstall .box  {
	background: #ECF1F3;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

/* Red background (errors) */
#punmaint .box, #announce .box {
	background-color: #ECD5D8;
	color: #BC2A4D;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

/* Reset border for h2 */
.blockform h2, .blockmenu h2, #msg h2, #punredirect h2, #postreview h2, #posterror h2, #puninstall h2, #punmaint h2, .portal h2 {
	border: 0;
}

#announce h2 {
	display: none;
}

#announce .box {
	padding: 7px 0px;
	margin-bottom: 1.5em;
}

.infldset {
	border-top: 1px solid #CCCCCC !important;
/*	background: #E1EBF2;
	border: 1px solid #CADCEB !important;*/
}

.pun .forminfo {
	border: 0;
	background: #CADCEB;
	border-radius: 5px;
	-moz-border-radius: 5px;
}


.pun .required strong {
	background: url(Prosilver/img/asterisk.png) bottom right no-repeat;
	font-weight: normal;
	padding-right: 14px;
	white-space: pre-wrap;
}

.pun .required strong span {
	display: none;
}

#brdmain {
	clear: both
}

/* Posts
----------------------------------------------------------------*/

.pun .blockpost .box {
	border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px;
	padding-top: 0;
	color: #333333;
}

.pun .blockpost .inbox {
	min-height: 23px;
	clear: both;
}

.blockpost h2 {
	border: 0;
}

.pun .postleft {
	border-right: 1px solid #fff;
}

.pun .blockpost .box, .pun .postright, .pun .postfootright, .pun .deletemsg, .pun .blockpost h2 {
	background: #E1EBF2;
	}

.pun  .postright, .pun .postfootright {
	border-left-color: #fff
	}

.pun .blockpost .box.roweven, .pun .blockpost.roweven .box, .pun .roweven .postright, .pun .roweven .postfootright, .pun .roweven .deletemsg, .pun .blockpost.roweven h2 {
	background: #ECF3F7;
	}

.pun .roweven .postright, .pun .roweven .postfootright {
	border-left-color: #ECF3F7
	}

.pun .postleft, .pun .postfootleft, .pun .blockpost label, .pun .codebox, .pun .quotebox {
	/*background-color: #f1f1f1*/
}

.pun .postleft, .postsignature {
	color: #666666
}

.quotebox {
	background-color: #EBEADD;
	}

.codebox {
	background: #fff;
}

.codebox code {
	color: #2E8B57;
}

.pun .blockpost h2 {
	padding-left: 18em;
	padding-top: 5px;
}

.pun .blockpost h2 span {
	padding-left: 10px;
}

.pun .blockpost h2 a {
	background: url(Prosilver/img/icon_topic_latest.gif) no-repeat left center;
	padding-left: 13px;
}

#punviewtopic .blockpost dt {
	position: absolute;
	top: -15px;
}

.pun #postreview .postbody .postleft dt {
	padding-top: 6px;
}

.pun .blockpost h2 span.conr {
	color: #aabdcd
	}

.pun hr {
	background-color: #fff;
	color: #fff
	}

.pun .postsignature p {
	padding: 0;
}

.pun #brdtitle {
	color: #fff;
}

/* Borders
----------------------------------------------------------------*/
/*
.pun .box {
	border-color: #0066b9
	}
*/
.pun td {
	border-color: #bbcede
	}

.pun th, .pun fieldset {
	border-color: #d1d1d1
	}

#adminconsole td, #adminconsole th {
	border-color: #f1f1f1
	}

.pun .quotebox, .pun .codebox,
.pun .blockpost label, .pun .deletemsg {
	border-color: #DBDBCE
	}

/* Links
----------------------------------------------------------------*/

.pun a:link, .pun a:visited {
	color: #105289;
	text-decoration: none;
	}

.pun a:hover, .pun a:active, .pun a:focus {
	color: #D31141;
	text-decoration: underline;
}

/*.pun h2 a:link, .pun h2 a:visited,*/
#brdtitle a:link, #brdtitle a:visited {
	color: #fff
	}

/*.pun h2 a:hover, .pun h2 a:active,*/
#brdtitle a:hover, #brdtitle a:active {
	color: #fff
	}
/*
.pun .blockpost h2 a:link, .pun .blockpost h2 a:visited {
	color: #105289;
*/

.pun .maintenancelink a:link, .pun .maintenancelink a:visited {
	color: #b42000
	}

.pun .maintenancelink a:hover, .pun .maintenancelink a:active {
	color: #b42000
	}

/* Post message links
----------------------------------------------------------------*/

.postmsg a {
	border-bottom-color: #368AD2;
	color: #368AD2;
	text-decoration: none;
	border-bottom: 1px dashed #D2D2D2;
}

.postmsg a:visited {
/*	border-bottom-color: #666666;*/
	color: #5D8FBD;
}

.postmsg a:active {
	color: #368AD2;
	text-decoration: none;
}

.postmsg a:hover {
	background-color: #D0E4F6;
	color: #0D4473;
	text-decoration: none;
}

/* Status Indicators
----------------------------------------------------------------*/


/* Forums */
#punindex .icon {
	background-image: url(Prosilver/img/forum_read.gif);
}

#punindex .inew .icon {
	background-image: url(Prosilver/img/forum_unread.gif);
}

#punindex .iredirect .icon {
	background-image: url(Prosilver/img/forum_link.gif);
}

#punindex .redirtext {
	display: none;
}

/* Topics */
.pun .icon {
	background-image: url(Prosilver/img/topic_read.gif);
}

.pun .inew .icon {
	background-image: url(Prosilver/img/topic_unread.gif);
}

.pun .isticky .icon {
	background-image: url(Prosilver/img/sticky_read.gif);
}

.pun .isticky.inew .icon {
	background-image: url(Prosilver/img/sticky_unread.gif);
}

.pun .iclosed .icon {
	background-image: url(Prosilver/img/topic_read_locked.gif);
}

.pun .inew.iclosed .icon {
	background-image: url(Prosilver/img/topic_unread_locked.gif);
}


/* Additional
----------------------------------------------------------------*/

.pun .tcr span.byuser {
	display: block;
	font-weight: normal;
}

.pun .tcl span.byuser {
	clear: both;
	display: block;
	font-weight: normal;
}

.pun span.pagestext {
	margin-top: -14px;
	float: right;
}

.pun #vf span.newtext {
	position: absolute;
	top: -12px;
	left: -10px;
}

.pun #vf .inew .tcl span.byuser {
	margin-left: -15px;
}

.pun span.newtext a {
	display: block;
	margin-left: 20px;
	width: 0px;
	height: 11px;
	overflow: hidden;
	padding-left: 10px;
	background: url(Prosilver/img/icon_topic_newest.gif) no-repeat left top;
}


#punindex span.newtext {
	display: none;
}

.pun #vf .inew .tclcon div {
	padding-left: 15px;
}

.pun .inew.isticky .tcl strong a {
	margin: 0;
}

.pun .tcr a {
	padding-left: 13px;
	background: url(Prosilver/img/icon_topic_latest.gif) no-repeat left 59%;
}

.pun .tcr span a {
	padding-left: 0;
	background: none;
}


/* Pagination
----------------------------------------------------------------*/

.pun .blocktable .pagestext {
	background: url(Prosilver/img/icon_pages.gif) left top no-repeat;
	padding-left: 15px;
	font-size: 0;
	position: absolute;
	right: 11px;
}

.pun .blocktable .pagestext a {
	background: #FFFFFF;
	text-indent: 0;
	margin-right: 3px;
	text-indent: 9999em;
}

.pagelink a {
	background: #ECEDEE;
}

.pun .blocktable .pagestext a, .pagelink a, .pagelink strong {
	color: #5C758C;
	border: 1px solid #B4BAC0;
	padding: 0 2px;
	font-size: 10px;
	font-family: Verdana;
	font-weight: normal;
}

.pun .blocktable .pagestext a:hover, .pagelink a:hover, .pagelink strong {
	background-color: #368AD2;
	border-color: #368AD2;
	color: #FFFFFF;
	text-decoration: none;
}

/* Block table
----------------------------------------------------------------*/

.pun .blocktable {
	position: relative;
}

.pun .blocktable table {
	border-collapse: separate;
}

#punindex .blocktable h2, #punviewforum .blocktable h2, #punsearch #vf h2 {
	border: 0;
	padding: 7px 11px;
	color: #fff;
	left: 0;
	margin: 1px 1px 0;
	position: absolute;
	white-space: nowrap;
	z-index: 100;
}

.blocktable h3 a, .blocktable .tclcon div a {
	font-family: "Trebuchet MS", "Helvetica", "Arial", sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.blocktable h3 a:hover, .blocktable .tclcon div a:hover {
	text-decoration: underline;
}

#punindex .blocktable th.tcl, #punsearch #vf th.tcl, #punviewforum #vf th.tcl {
	font-size: 0;
	text-indent: -9999em;
}

.blocktable .box {
	background: #12A3EB url(Prosilver/img/bg_header.gif) repeat-x;
	padding: 5px;
	padding-top: 3px;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

#punindex .blocktable .box, #punforum .blocktable .box  {
	background: #0076B1 url(Prosilver/img/bg_list.gif) repeat-x;
}

.blocktable tbody {
	background: #EEF5F9 url(Prosilver/img/gradient.gif) repeat-x;
}

.blocktable th {
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	font-weight: normal;
	font-size: 10px;
}

.pun .blocktable td {
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #8F8F8F;
	border-left: 0;
	border-right: 0;
}


.blocktable tbody tr.roweven {
	background: #ECF3F7;
}

.blocktable tbody tr.rowodd {
	background: #E1EBF2;
}

#punindex .blocktable tbody tr, #punforum .blocktable tbody tr {
	background: none;
	*background: #ECF3F7; /* IE 7 or ealier hack */
}

#punindex .blocktable tbody tr:hover, #punforum .blocktable tbody tr:hover,
.blocktable tbody tr:hover {
	background: #F6F4D0;
}

/* Inputs
----------------------------------------------------------------*/

input[type=text], input[type=password], select, textarea {
	background-color: #FFFFFF;
	border: 1px solid #B4BAC0;
	color: #333333;
}

input[type=text]:hover, input[type=password]:hover, select:hover, textarea:hover {
	border-color: #11A3EA;
}

input[type=text]:focus, input[type=password]:focus, select:focus, textarea:focus {
	border-color: #11A3EA;
	color: #0F4987;
}

input[type=button], input[type=submit] {
	cursor: pointer;
	border: 1px solid #666666;
	background-color: #FAFAFA;
	background-image:url(Prosilver/img/bg_button.gif);
	color: #000000;

}

input[type=button]:hover, input[type=submit]:hover {
	border-color: #BC2A4D;
	color: #BC2A4D;
	background-position: 0 100%;
}

.pun p.buttons input[type=button], .pun p.buttons input[type=submit] {
	padding-top: 3px;
	padding-bottom: 3px;
}

input[type=submit] {
	font-weight: bold;
}


/* Navigation icons
----------------------------------------------------------------*/

#brdmenu ul {
	border-bottom: 1px solid #fff;
}

#brdmenu li {
	padding-left: 18px;
	background: url(Prosilver/img/icon_home.gif) no-repeat left center;
	line-height: 2.2em;
}

li#navuserlist {
	background-image: url(Prosilver/img/icon_members.gif);
}

li#navsearch {
	background-image: url(Prosilver/img/icon_search.gif);
}

li#navprofile, li#navadmin {
	background-image: url(Prosilver/img/icon_ucp.gif);
}

li#navlogout {
	background-image: url(Prosilver/img/icon_logout.gif);
}

li#navregister {
	background-image: url(Prosilver/img/icon_register.gif);
}

#adminconsole td, #adminconsole th {
	border: 0 !important;
}

ul.crumbs {
	padding-left: 18px;
	background: url(Prosilver/img/icon_home.gif) no-repeat left 60%;
}

#brdwelcome li {
	line-height: 2.2em;
}

/* Post buttons
----------------------------------------------------------------*/

.pun .postfootright ul {
	margin-bottom: 3px;
}

.pun .postfootright li {
	margin-left: 0;
}

.pun .postleft .usercontacts {
	margin-top: 10px;
	padding-bottom: 4px;
}

.pun .postleft dl dd {
	font-size: 10px;
}

.pun .postfootright li a, .pun .postlink.conr a, .pun .usercontacts a {
	border: 1px solid #858585;
	background: #ffffff url(Prosilver/img/button_gradient.gif) repeat-x bottom left;
	padding: 2px 5px;
	text-transform: uppercase;
	font-family: Segoe UI, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 0.9em;
	color: #D31141;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

.pun .postlink.conr a {
	font-size: 1em;
}

.pun .postfootright li a:hover, .pun .postlink.conr a:hover, .pun .usercontacts a:hover {
	background: #ffffff url(Prosilver/img/button_gradient_hover.gif) repeat-x top left;
	text-decoration: none;
	border-color: #5195d1;
}

.pun .postfootright li.postreport a {
	color: #888;
}

/* Quick post
----------------------------------------------------------------*/

/*.pun #quickpost .bblinks, .pun #edit .bblinks {
	margin-top: -4.2em;
	margin-left: -190px;
	padding-left: 5px;
}

.pun #quickpost .bblinks li, .pun #edit .bblinks li {
	display:block;
}

.pun #quickpost .txtarea, .pun #edit .txtarea {
	padding-left: 190px;
	padding-right: 3px;
	position: relative;
}

.pun label strong {
	line-height: 1.75em;
	margin-left: -190px;
	padding-left: 5px;
	float: left;
}
*/
.pun #edit .txtarea textarea, .pun #edit .txtarea input.longinput {
	/*margin-top: -1.75em;*/
}



/*
.pun div[class*="infldset"] {
	display: block;
}

.pun #quickpost p.buttons {
	text-align: center;
}

.pun #quickpost .inform {
	padding-bottom: 0;
}

.pun .txtarea textarea, .pun input.longinput, .pun .infldset textarea {
	width: 97%;
}*/

/*
#logo {
	background-image: url(Prosilver/img/logo.png);
	margin-top: 16px;
	margin-left: 5px;
	width: 140px;
	height: 52px;
	float: left;
}*/

/* Polls
----------------------------------------------------------------*/

#punviewtopic .blockform.poll td h2 {
	background: #CADCEB;
	border-radius: 5px;
	-moz-border-radius: 5px;
	height: 5px !important;
	margin-top: 5px !important;
}

/* Error box - needs a small modification of include/functions.php
----------------------------------------------------------------*/

div#errorbox {
	border: 1px solid #999999;
	background: #fff;
	border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 10px;
}

div#errorbox h2 {
	text-transform: uppercase;
	border: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #115098;
	background: transparent;
}

div#errorbox div {
	background-color: #ECD5D8;
	color: #BC2A4D;
	border: 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
}


#qjump label span {
	display: none;
}
/*
.pun #brdstats .inbox {
	overflow: hidden;
}*/



/* Search at top of page */

#search-form {
	float: right;
	text-align: right;
}

#search-form a, #search-form a:hover, #search-form a:active {
	color: #fff;
}

#login-form .box {
	padding-top: 5px;
}
#login-form label {
	display: inline;
}



/* Post messages on the left side */
.pun .blockpost .postbody .postright {
	margin-left: 0;
	margin-right: 22%;

}

.pun .blockpost .postbody .postleft {
	float: right;
	width: 22%;
		border-left: 1px solid #fff;
}

.pun .blockpost .postfoot .postfootright {
	margin-left: 0;
	right: 0;
	padding-right: 23%;
	position: absolute;
	top: -2.4em;
	background: none;
}

.pun .blockpost .box {
	position: relative;
}

.pun .blockpost .postfoot .postfootleft {
	float: right;
	width: 22%;
	clear: both;
}

.pun .blockpost h2 {
	padding-left: 8px;
	padding-top: 1em;
	padding-bottom: 0.5em;
}

.pun .blockpost h2 span {
	padding-left: 0;
}

.pun .blockpost h2 span span.conr {
	display: none;
}

#punviewtopic .blockpost dt {
	top: -1.7em;
}